*{
    box-sizing: border-box;
}
body{
    background-color:aliceblue;
}
.menu{
    background-color: aliceblue;
    text-align: center;
    height: 2rem;
}
.slider{
    background-color: aliceblue;
    height: 4rem;
    text-align:center;
    color: black;
}
.after{
    background-color: lightpink;
    height: 15rem;
    text-align:center;
}
.before{
    background-color: lightpink;
    height: 15rem;
    text-align:center;
}
.firstletter{
    background-color: lightpink;
    height: 15rem;
    text-align:center;
}
p {
    height: 15rem;
    line-height: 1.5;
  }
  h2 + p::first-letter {
    color: black;
    background-color: lightpink;
    border-radius: 2px;
    box-shadow: 3px 3px 0 purple;
    font-size: 250%;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
  }
.firstline{
    background-color: lightpink;
    height: 15rem;
    text-align:center;
    
}
.grammarerror{
    background-color: lightpink;
    height: 15rem;
    text-align:center;
}
.selection{
    background-color:lightpink;
    height: 15rem;
    text-align:center;
}  
.spellingerror{
    background-color: lightpink;
    height: 15rem;
    text-align:center;
}
.active
a:link { color: purple; }          
a:visited { color: palevioletred; }     
a:hover { background: plum; }  
a:active { color: lightcoral; }   

a:any-link {
    border: 2px solid plum;
    color: black;
  }

  a:-webkit-any-link {
    border: 2px solid purple;
    color: black;
  }
  div,
select {
  margin: 8px;
}


input:checked + label {
  color: black;
}


input[type="radio"]:checked {
  box-shadow: 0 0 0 3px palevioletred;
}


input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
}


option:checked {
  box-shadow: 0 0 0 3px lightslategray;
  color:black;
}
.box {
    background: lightpink;
    height: 80px;
    width: 80px;
  }
  
  .box:empty {
    background: lightpink;
  }
  input:enabled {
    color: black;
  }
  
  input:disabled {
    color: black;
  }
  @page :first {
    margin-left: 50%;
    margin-top: 50%;
  }
  
  p {
    page-break-after: always;
  }
  p:first-child {
    color: lightpink;
    background-color: lightpink;
    padding: 5px;
  }
  p:first-of-type {
    color: lightpink;
    font-style: italic;
  }
  .red-input:focus {
    background: lightpink;
    color: black;
  }
  
  .blue-input:focus {
    background: lightpink;
    color: black;
  }
  form {
    border: 2px solid;
    color: black;
    padding: 4px;
  }
  
  form:focus-within {
    background: lightpink;
    color: black;
  }
  
  input {
    margin: 2px;
  }
  a {
    background-color: lightpink;
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: violet;
  }
  input:indeterminate + label {
    background: lightpink;
  }
  li {
    list-style: none;
    margin-bottom: 1em;
  }
  
  input {
    border: 2px solid black;
  }
  
  input:in-range {
    background-color: lightpink;
  }
  
  input:out-of-range {
    background-color: lightpink;
    border: 2px solid darkslateblue;
  }
  
  input:in-range + label::after {
    content: 'bien.';
  }
  
  input:out-of-range + label::after {
    content: 'fuera de rango!';
  }
  input:invalid {
    background-color:lightpink;
  }
  
  form:invalid {
    border: 2px solid palevioletred;
  }
  
  input:valid {
    background-color: lightpink;
  }
  
  form:valid {
    border: 2px solid lightcoral;
  }
  
  input:required {
    border-color: lightpink;
    border-width: 3px;
  }
  
  input:required:invalid {
    border-color: lightpink;
  }
  :lang(en) > q { quotes: '\201C' '\201D' '\2018' '\2019'; }
  :lang(fr) > q { quotes: '« ' ' »'; }
  :lang(de) > q { quotes: '»' '«' '\2039' '\203A'; }
  p:last-child {
    color: violet;
    background-color: lightpink;
    padding: 5px;
  }
  p:last-of-type {
    color: black;
    font-style: italic;
  }
           

    
  

  
   
      
